@{
    ViewBag.Title = "About";
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    var actionName = this.ViewContext.RouteData.Values["action"].ToString();
}
<h1>Assignment HD Version</h1>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Name <small>JunWei Pan</small></h3>
<h3>Student ID <small>27042804</small></h3>
<h3>Unit's name <small>FIT5032  Internet applications development S2 2017</small></h3>
<h3>Unit provider <small>Monash University, The Caulfield School of Information Technology</small></h3>
<h3>Task number <small>D</small></h3>
<h3>Tutors name <small>Arvind</small></h3>
<h3>Email link to the author <small>panjunweide@gmail.com</small></h3>
<h3>Link to this Task specification <small>http://moodle.vle.monash.edu/mod/page/view.php?id=4383276</small></h3>

<div id="map"></div>