@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Questions:</strong>   <a href="mailto:jian.liew@monash.edu">jian.liew@monash.edu</a><br />
</address>